<div class="empresa">
    <a href=""><img src="./assets/ferrtechb.png" alt="FerrTech" style="height: 100px; margin-right: 20px;"></a>
<div class="content">
    <h1>NUESTRA EMPRESA</h1>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae porro sed facilis amet, odio natus nulla dolor! Atque perspiciatis ad alias eveniet quae delectus repudiandae labore dolor, provident quam.</h4>
<br>
<h5>MISIÓN</h5>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit laboriosam.</P>

<h5>VISIÓN</h5>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit laboriosam rerum deserunt officia voluptates distinctio officiis commodi, beatae reprehenderit soluta excepturi fuga! Voluptas autem doloremque nam odit molestiae neque</P>

<h5>VALORES</h5>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit laboriosam rerum deserunt officia.</P>
<hr>
<div class="imagen">
    <a href=""><img src="./assets/emp2.jpeg" alt="FerrTech" style="margin-right: 20px;"></a>
    <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At a quaerat ullam quasi laborum saepe possimus incidunt tempora? Dicta eveniet eaque dolor magnam laborum tempora atque suscipit ipsam optio consequuntur.</a>

</div>

</div>
</div>