<div class="gracias">
    <div class="logo">
    <a href=""><img src="./assets/ferrtechb.png" alt="FerrTech" style="height: 100px;"></a>
    <H1>Compra realizada correctamente</H1>
    <br>
    <h2> Le llegara un mail con los datos de facturación y envío.</h2>
    </div>
</div>
<div class="boton" style="justify-content: center;">
    <button (click)="volver()" routerLink=""style="margin: 10px; padding: 10px;width: 200px; border-radius: 10px;" type="submit" class="btn btn-warning btn-submit-fix">VOLVER AL INICIO</button>
</div>