<header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="margin-top: 0px;" >
        <div class="carousel-item active" style="background-image: url('./assets/carousel1.jpg')">
          <div class="carousel-caption">
            <h1>HERRAMIENTAS</h1>
            <h4>Las mejores ofertas y variedad en herramientas</h4>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('./assets/carousel3.jpg')">
          <div class="carousel-caption" style="color:orange">
            <h1 style="letter-spacing: 1pt">ELECTRODOMESTICOS</h1>
            <h4 style="letter-spacing: 1pt">Las mejores ofertas y variedad en Electrodomesticos para el hogar</h4>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('./assets/carousel2.jpg')">
          <div class="carousel-caption">
            <h1>TECNOLOGIA</h1>
            <h4>Las mejores ofertas y variedad en computacion, electronica e insumos en general</h4>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container" style="color: gray;">
      <!-- <h1 class="fw-light">Trabajamos con las mejores marcas</h1> -->
      <h5 class="fw-light">Acepamos todos los pagos</h5>
      <div class="pagos"  style="height:100px; width:100%; background-image: url('https://images.contentstack.io/v3/assets/blt859cb831115f9ca8/blt44195a281d0d3648/611e7ab68faa7a6bbfbf9edd/Medios-de-pago@2x.jpg?auto=webp&disable=upscale&quality=70&width=1280');">
      </div>
    </div>
  </section>
  
<div class="row">
    <app-listado-productos></app-listado-productos>
</div>
