<div class="navfull">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: -2px;">
  <div class="container-fluid">
    <a href=""><img src="./assets/ferrtechb.png" alt="FerrTech" style="height: 55px; margin-right: 20px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active warning" aria-current="page" href="#">Inicio <i class="bi bi-shop"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="open()">Menu  <i class="bi bi-menu-button"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos <i class="bi bi-tags"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/productos/categorias"class="dropdown-item" href="#">Categorias</a></li>
            <li><a routerLink="/compra/carrito" class="dropdown-item" href="#">Ofertas<i class="bi bi-stars"></i></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/productos/listado-productos">Todos los productos</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown" style="margin-left: 20px; margin-right: 0px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="bi bi-tools"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/mercaderia"class="dropdown-item" href="#">Mercaderia</a></li>
            <li><a class="dropdown-item" href="#">Clientes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Reportes</a></li>
          </ul>
        </li>
       
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Buscar</button>
        
      </form> -->
      
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-left: 10px; margin-right: 0px; margin-top: 2px;">
        
        <form class="d-flex" style="margin-left: 150px; margin-right: 5px;">
          <a href="#!" class="nav-link navbar-link-2 waves-effect">
         
        </a>
          <button routerLink="/compra/carrito" class="btn btn-outline-warning" type="submit" style="align-items: center; border-radius: 20px; "><i class="bi bi-cart3"><span class="badge badge-pill red" style="color: red;">3</span>
            </i></button>
        </form>
        
        
        
      
        <div class="btn-group" role="group" style="margin-right: 5px;">
          <button id="btnGroupDrop1" type="button" class="btn btn-warning" style="border-radius: 5px;" data-bs-toggle="dropdown" aria-expanded="false">
            Entrar <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Iniciar Sesion</a></li>
            <li><a class="dropdown-item" href="#">Registrarse</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Mi Cuenta</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="navdown">
 <img class="imgnav" src="./assets/ft1.png"> 
</div> -->
<div class="html2">
<div class="nav2">
  <ul>
    <li>
      <a href="#">Inicio</a>
    </li>
    <li>
      <a href="#">Menu</a>
    </li>
    <li>
      <a href="#">Productos</a>
    </li>
    <li>
      <a href="#">Contacto</a>
    </li>
  </ul>
</div>
</div>
</div>
<!-- ------- -->





<div class="row" style="margin-top:45px; margin-bottom: 10px;">   
  
  <div class="col-12">
    <router-outlet></router-outlet>
</div> 

<div class="col-12">
  <app-menu-footer></app-menu-footer>
</div>  
</div>
